.nav-wrapper{
    background-color: #fcbc34;
}
.cust-input-field{
    margin-top: 0px;
}
.yellow-theme{
    background-color: #fcbc34;
}
.white-theme{
    background-color: white;
}
.no-margin-bottom{
    margin-bottom: 0px;
}
.no-margin-top{
    margin-top: 0px;
}
.remove-box{
    display: none;
}
/*
.input-field .prefix.active {
  color: #2962ff;
}
.input-field input[type=text]:focus + label {
    color: #2962ff;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #2962ff;
    box-shadow: 0 1px 0 0 #2962ff;
}
*/

#apollo-logo{
    height:100%;
    width:150px;
}

@media (min-width: 769px){
    body{
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: #2170a1;
        background-attachment: fixed;
    }
    #background-banner{
        width: 100%;
        height: 90%;
        opacity: 0.3;
        z-index: -1;
    }
    #background-banner-outer-d{
        margin: 0;
    }
    #background-banner-outer-m{
        display: none;
    }
    #search-emp-outer{
        width: 70%;
        margin: 0 auto;
    }
    #login-card{
        margin-top: 3%;
    }
    #laptop-card{
        margin-left: 25%;
    }
}

@media (max-width: 769px){
    body{
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: #2170a1;
        background-attachment: fixed;
    }
    #background-banner-outer-d{
        display: none;
    }
    #background-banner-outer-m{
        margin: 0;
        position: absolute;
        top: 20%;
        border: none;
    }
    #search-emp-outer{
        width: 90%;
        margin: 0 auto;
    }
    #login-card{
        margin-top: 7%;
    }
}