<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center waves-effect waves-light"><img src="images/apollo-main-logo-2.jpg" alt="The Apollo Clinic" id="apollo-logo"></a>
        <ul id="mobile-demo" class="side-nav">
            <li>
                <div class="userView">
                <div class="background">
                  <img src="images/user-theme.jpg">
                </div>
                <a href="#!user"><img class="circle" src="images/users/1.jpg"></a>
                <a href="#!name"><span class="white-text name">Hema Garg</span></a>
                <a href="#!email"><span class="white-text email">doonapollo@rocketmail.com</span></a>
                </div>
            </li>
            <li><a class="waves-effect" href="/current-status">Current Status</a></li>
            <li><a class="waves-effect" href="#!">Month End Analysis</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Staff Specific</a></li>
            <li><a class="waves-effect" href="/new-employee">New Employee</a></li>
            <li><a class="waves-effect" href="/signup">New Admin</a></li>
            <li><a class="waves-effect" href="/update">Update Info for Staff</a></li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="/changepassword">Change Password</a></li>
            <li><a class="waves-effect" href="/signout">Sign Out</a></li>
        </ul>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a class="waves-effect waves-light" href="/current-status">Current Status</a></li>
          <li><a class="waves-effect waves-light">Month End Analysis</a></li>
          <li><a class="waves-effect waves-light" href="/update">Update Info for Staff</a></li>
        </ul>
        <ul class="right hide-on-med-and-down" id="nav-mobile">
            <li><a class='waves-effect waves-light dropdown-button btn' href='#' data-activates='dropdown1'>New</a></li>
            <li><a class="waves-effect waves-light" href="/changepassword">Change Password</a></li>
            <li><a class="waves-effect waves-light" href="/signout">Sign Out</a></li>
        </ul>
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/new-employee">Employee</a></li>
            <li><a href="/signup">Admin</a></li>
        </ul>
    </div>
</nav>