<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Apollo Attendance System</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/materialize.css">
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
        <link rel="stylesheet" type="text/css" href="css/signup.css"/>
        <style>
            @media (min-width: 769px){
                #login-card {
                    margin-top: 15%;
                }
            }
            @media (max-width: 769px){
                #login-card {
                    margin-top: 35%;
                }
            }
        </style>
    </head>
    <body>
        {{> topbar}}
        <div class="container">
            <div class="row custom-row">
                <div class="col s12 m6" id="laptop-card">
                  <div class="card">
                    <div class="card-image">
                      <img src="images/user-theme.jpg">
                      <span class="card-title">Sign Up Top Administrative Staff</span>
                      </div>
                    <div class="card-content">
                        <form method="post">
                            <div class="row">
                                <div class="input-field col s12">
                                  <input id="password" type="password" name="old">
                                  <label for="password">Old Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                  <input id="password1" type="password" class="" name="new">
                                  <label for="password" data-error="Passwords do not match.">New Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                  <input id="password2" type="password" class="">
                                  <label for="password" data-error="Passwords do not match.">New Password</label>
                                </div>
                            </div>
                            <button class="btn waves-effect waves-light yellow-theme disabled" type="submit" name="action" id="submit-button">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        
<!--    JavaScript Files    -->
        <script src="js/jquery.min.js"></script>
        <script src="js/materialize.min.js"></script>
        <script src="js/changepassword.js"></script>
    </body>
</html>