<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Apollo Attendance System</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/materialize.css">
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
        <link rel="stylesheet" type="text/css" href="css/current-status.css"/>
    </head>
    <body>
        {{>topbar}}
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <ul class="collection with-header no-margin-bottom background" style="font-size:20px;">
                        <li class="collection-header background"><center>Employees in the Clinic</center></li>
                    </ul>
                    <ul class="collapsible popout no-margin-top" data-collapsible="accordion">
                        <li>
                          <div class="collapsible-header">First</div>
                          <div class="collapsible-body white-background"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu nisl justo. Duis purus neque, fermentum id ligula sit amet, ultricies semper metus. Mauris nisi mi, sollicitudin ut nisl id, pellentesque dapibus arcu. In viverra ipsum vitae aliquam ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In vel mattis felis. Curabitur dapibus sagittis odio, id fringilla eros sollicitudin quis. Integer iaculis molestie turpis, eget dignissim nibh ultrices ut.

</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header">Second</div>
                          <div class="collapsible-body white-background"><span>Cras sit amet aliquet enim. Donec consequat nunc ac gravida consectetur. Phasellus eu diam elementum, posuere arcu sed, gravida nibh. Pellentesque id vestibulum eros. Pellentesque sagittis, massa vitae elementum mattis, nisi orci semper tellus, a interdum velit felis vel quam. Sed at eros viverra, suscipit massa et, ornare ligula. Ut semper imperdiet est ut aliquam. Proin ullamcorper eget nisl eget egestas. Nunc sed ipsum id ante tempus tincidunt ut in nisi.</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header">Third</div>
                          <div class="collapsible-body white-background"><span>Nulla facilisi. Etiam vitae tincidunt ligula. Cras sollicitudin pharetra sapien a ullamcorper. In odio sapien, egestas vitae viverra a, pellentesque eu ex. Nam eleifend cursus diam, vitae blandit turpis ultricies eget. Etiam ipsum augue, feugiat quis congue vel, iaculis vel augue. Sed sodales erat at rutrum volutpat. Vivamus tincidunt fermentum magna, nec eleifend dolor ornare tempor. Quisque nec accumsan ligula. Quisque tincidunt risus ac erat vehicula, ac commodo neque cursus.</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header">Third</div>
                          <div class="collapsible-body white-background"><span>Nulla facilisi. Etiam vitae tincidunt ligula. Cras sollicitudin pharetra sapien a ullamcorper. In odio sapien, egestas vitae viverra a, pellentesque eu ex. Nam eleifend cursus diam, vitae blandit turpis ultricies eget. Etiam ipsum augue, feugiat quis congue vel, iaculis vel augue. Sed sodales erat at rutrum volutpat. Vivamus tincidunt fermentum magna, nec eleifend dolor ornare tempor. Quisque nec accumsan ligula. Quisque tincidunt risus ac erat vehicula, ac commodo neque cursus.</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header">Third</div>
                          <div class="collapsible-body white-background"><span>Nulla facilisi. Etiam vitae tincidunt ligula. Cras sollicitudin pharetra sapien a ullamcorper. In odio sapien, egestas vitae viverra a, pellentesque eu ex. Nam eleifend cursus diam, vitae blandit turpis ultricies eget. Etiam ipsum augue, feugiat quis congue vel, iaculis vel augue. Sed sodales erat at rutrum volutpat. Vivamus tincidunt fermentum magna, nec eleifend dolor ornare tempor. Quisque nec accumsan ligula. Quisque tincidunt risus ac erat vehicula, ac commodo neque cursus.</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header">Third</div>
                          <div class="collapsible-body white-background"><span>Nulla facilisi. Etiam vitae tincidunt ligula. Cras sollicitudin pharetra sapien a ullamcorper. In odio sapien, egestas vitae viverra a, pellentesque eu ex. Nam eleifend cursus diam, vitae blandit turpis ultricies eget. Etiam ipsum augue, feugiat quis congue vel, iaculis vel augue. Sed sodales erat at rutrum volutpat. Vivamus tincidunt fermentum magna, nec eleifend dolor ornare tempor. Quisque nec accumsan ligula. Quisque tincidunt risus ac erat vehicula, ac commodo neque cursus.</span></div>
                        </li>
                    </ul>
                    <ul class="collection with-header no-margin-bottom background" style="font-size:20px;">
                        <li class="collection-header background"><center>Employees supposed to be in the Clinic but Absent</center></li>
                    </ul>
                    <ul class="collapsible popout no-margin-top" data-collapsible="accordion">
                        <li>
                          <div class="collapsible-header">First</div>
                          <div class="collapsible-body white-background"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu nisl justo. Duis purus neque, fermentum id ligula sit amet, ultricies semper metus. Mauris nisi mi, sollicitudin ut nisl id, pellentesque dapibus arcu. In viverra ipsum vitae aliquam ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In vel mattis felis. Curabitur dapibus sagittis odio, id fringilla eros sollicitudin quis. Integer iaculis molestie turpis, eget dignissim nibh ultrices ut.

</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header">Second</div>
                          <div class="collapsible-body white-background"><span>Cras sit amet aliquet enim. Donec consequat nunc ac gravida consectetur. Phasellus eu diam elementum, posuere arcu sed, gravida nibh. Pellentesque id vestibulum eros. Pellentesque sagittis, massa vitae elementum mattis, nisi orci semper tellus, a interdum velit felis vel quam. Sed at eros viverra, suscipit massa et, ornare ligula. Ut semper imperdiet est ut aliquam. Proin ullamcorper eget nisl eget egestas. Nunc sed ipsum id ante tempus tincidunt ut in nisi.</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header">Third</div>
                          <div class="collapsible-body white-background"><span>Nulla facilisi. Etiam vitae tincidunt ligula. Cras sollicitudin pharetra sapien a ullamcorper. In odio sapien, egestas vitae viverra a, pellentesque eu ex. Nam eleifend cursus diam, vitae blandit turpis ultricies eget. Etiam ipsum augue, feugiat quis congue vel, iaculis vel augue. Sed sodales erat at rutrum volutpat. Vivamus tincidunt fermentum magna, nec eleifend dolor ornare tempor. Quisque nec accumsan ligula. Quisque tincidunt risus ac erat vehicula, ac commodo neque cursus.</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header">Third</div>
                          <div class="collapsible-body white-background"><span>Nulla facilisi. Etiam vitae tincidunt ligula. Cras sollicitudin pharetra sapien a ullamcorper. In odio sapien, egestas vitae viverra a, pellentesque eu ex. Nam eleifend cursus diam, vitae blandit turpis ultricies eget. Etiam ipsum augue, feugiat quis congue vel, iaculis vel augue. Sed sodales erat at rutrum volutpat. Vivamus tincidunt fermentum magna, nec eleifend dolor ornare tempor. Quisque nec accumsan ligula. Quisque tincidunt risus ac erat vehicula, ac commodo neque cursus.</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header">Third</div>
                          <div class="collapsible-body white-background"><span>Nulla facilisi. Etiam vitae tincidunt ligula. Cras sollicitudin pharetra sapien a ullamcorper. In odio sapien, egestas vitae viverra a, pellentesque eu ex. Nam eleifend cursus diam, vitae blandit turpis ultricies eget. Etiam ipsum augue, feugiat quis congue vel, iaculis vel augue. Sed sodales erat at rutrum volutpat. Vivamus tincidunt fermentum magna, nec eleifend dolor ornare tempor. Quisque nec accumsan ligula. Quisque tincidunt risus ac erat vehicula, ac commodo neque cursus.</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header">Third</div>
                          <div class="collapsible-body white-background"><span>Nulla facilisi. Etiam vitae tincidunt ligula. Cras sollicitudin pharetra sapien a ullamcorper. In odio sapien, egestas vitae viverra a, pellentesque eu ex. Nam eleifend cursus diam, vitae blandit turpis ultricies eget. Etiam ipsum augue, feugiat quis congue vel, iaculis vel augue. Sed sodales erat at rutrum volutpat. Vivamus tincidunt fermentum magna, nec eleifend dolor ornare tempor. Quisque nec accumsan ligula. Quisque tincidunt risus ac erat vehicula, ac commodo neque cursus.</span></div>
                        </li>
                    </ul>
                    <ul class="collection with-header no-margin-bottom background" style="font-size:20px;">
                        <li class="collection-header background"><center>Other Employees</center></li>
                    </ul>
                    <ul class="collapsible popout no-margin-top" data-collapsible="accordion">
                        <li>
                          <div class="collapsible-header">First</div>
                          <div class="collapsible-body white-background"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu nisl justo. Duis purus neque, fermentum id ligula sit amet, ultricies semper metus. Mauris nisi mi, sollicitudin ut nisl id, pellentesque dapibus arcu. In viverra ipsum vitae aliquam ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In vel mattis felis. Curabitur dapibus sagittis odio, id fringilla eros sollicitudin quis. Integer iaculis molestie turpis, eget dignissim nibh ultrices ut.

</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header">Second</div>
                          <div class="collapsible-body white-background"><span>Cras sit amet aliquet enim. Donec consequat nunc ac gravida consectetur. Phasellus eu diam elementum, posuere arcu sed, gravida nibh. Pellentesque id vestibulum eros. Pellentesque sagittis, massa vitae elementum mattis, nisi orci semper tellus, a interdum velit felis vel quam. Sed at eros viverra, suscipit massa et, ornare ligula. Ut semper imperdiet est ut aliquam. Proin ullamcorper eget nisl eget egestas. Nunc sed ipsum id ante tempus tincidunt ut in nisi.</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header">Third</div>
                          <div class="collapsible-body white-background"><span>Nulla facilisi. Etiam vitae tincidunt ligula. Cras sollicitudin pharetra sapien a ullamcorper. In odio sapien, egestas vitae viverra a, pellentesque eu ex. Nam eleifend cursus diam, vitae blandit turpis ultricies eget. Etiam ipsum augue, feugiat quis congue vel, iaculis vel augue. Sed sodales erat at rutrum volutpat. Vivamus tincidunt fermentum magna, nec eleifend dolor ornare tempor. Quisque nec accumsan ligula. Quisque tincidunt risus ac erat vehicula, ac commodo neque cursus.</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header">Third</div>
                          <div class="collapsible-body white-background"><span>Nulla facilisi. Etiam vitae tincidunt ligula. Cras sollicitudin pharetra sapien a ullamcorper. In odio sapien, egestas vitae viverra a, pellentesque eu ex. Nam eleifend cursus diam, vitae blandit turpis ultricies eget. Etiam ipsum augue, feugiat quis congue vel, iaculis vel augue. Sed sodales erat at rutrum volutpat. Vivamus tincidunt fermentum magna, nec eleifend dolor ornare tempor. Quisque nec accumsan ligula. Quisque tincidunt risus ac erat vehicula, ac commodo neque cursus.</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header">Third</div>
                          <div class="collapsible-body white-background"><span>Nulla facilisi. Etiam vitae tincidunt ligula. Cras sollicitudin pharetra sapien a ullamcorper. In odio sapien, egestas vitae viverra a, pellentesque eu ex. Nam eleifend cursus diam, vitae blandit turpis ultricies eget. Etiam ipsum augue, feugiat quis congue vel, iaculis vel augue. Sed sodales erat at rutrum volutpat. Vivamus tincidunt fermentum magna, nec eleifend dolor ornare tempor. Quisque nec accumsan ligula. Quisque tincidunt risus ac erat vehicula, ac commodo neque cursus.</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header">Third</div>
                          <div class="collapsible-body white-background"><span>Nulla facilisi. Etiam vitae tincidunt ligula. Cras sollicitudin pharetra sapien a ullamcorper. In odio sapien, egestas vitae viverra a, pellentesque eu ex. Nam eleifend cursus diam, vitae blandit turpis ultricies eget. Etiam ipsum augue, feugiat quis congue vel, iaculis vel augue. Sed sodales erat at rutrum volutpat. Vivamus tincidunt fermentum magna, nec eleifend dolor ornare tempor. Quisque nec accumsan ligula. Quisque tincidunt risus ac erat vehicula, ac commodo neque cursus.</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/materialize.min.js"></script>
        <script src="js/current-status.js"></script>
    </body>
</html>